*.opensdf
*.sdf
*.suo
*.db
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.mll
*.vcxproj.user
*.dll.metagen
ipch/
html/
Graphics/
Versions/
TinyToonTanks/._LOG.txt
TinyToonTanks/Debug/
TinyToonTanks/Release/
TinyToonTanks/results.txt
TinyToonTanks/UnitTests/
TinyToonTanks/UnitTests_Release
TinyToonTanks/UnitTests_Debug