*.opensdf
*.sdf
*.suo
*.db
*.ilk
*.exp
*.mll
*.vcxproj.user
*.dll.metagen
*.iobj
*.ipdb
.vs/
ipch/
html/
Graphics/
Versions/
TinyToonTanks.caw
TinyToonTanks.VC.opendb
TinyToonTanks/._LOG.txt
TinyToonTanks/Debug/
TinyToonTanks/Release/
TinyToonTanks/results.txt
TinyToonTanks/UnitTests/
TinyToonTanks/UnitTests_Release
TinyToonTanks/UnitTests_Debug
TinyToonTanks/TinyToonTanks.pdb
TinyToonTanks/TinyToonTanks.exe